.login-form {
  width: 30%;
  align-items: center !important;
  text-align: center !important;
  height: 664px !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.253) !important;
  margin-left: 35%;
  margin-top: 5%;
}
.a-btn {
  color: #fff;
}
button {
  background-color: #1c7a96;
  color: #fff !important;
}
.login-title {
  padding-top: 10%;
  font-size: 25px;
  color: #1c7a96;
}
.login-input {
  margin-left: 15%;
  text-align: center !important;
  width: 70%;
  margin-top: 10%;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.input-username,
.input-password,
.input-email {
  height: 40px;
  font-size: 20px;
}
.no-acc {
  font-size: 20px;
  color: #1c7a96;
}
.register-btn-form {
  font-size: 15px;
  padding: 5px;
}
.submit-btn {
  font-size: 20px;
  background-color: #8596a3;
  color: #fff;
  height: 40px;
  width: 100%;
  margin-top: 10%;
  background-color: #1c7a96;
  color: #fff !important;
}

@media screen and (max-width: 426px) {
  .login-form,
  .edit-form {
    width: 75%;
    height: 500px !important;
    margin-left: 13% !important;
  }
  .login-title {
    font-size: 15px;
  }
  .input-username,
  .input-password,
  .input-email,
  .submit-btn,
  .no-acc {
    height: 20px;
    font-size: 10px;
  }
  .a-btn {
    font-size: 10px;
  }
  .input-description {
    margin-left: 4%;
  }
  .input-make,
  .input-image,
  .input-description {
    font-size: 7px;
    height: 20px;
  }
  .input-make {
    margin-left: 27%;
  }
  .input-image {
    margin-left: 25%;
  }
}
