.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 5%;
}
.container-cars {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 15%;
}
.card-img {
  width: 30%;
}
.card-vehicles {
  box-shadow: 0px 0px 5px 0px #1c7a96 !important;
  width: 15%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.card-cars {
  width: 30%;
  height: 270px;
  margin-bottom: 5%;
}
.card-title {
  font-size: 20px;
  color: #1c7a96;
}
.card-img-cars {
  width: 50%;
  height: 50%;
}
.edit-car,
.delete-car {
  font-size: 20px;
  margin-left: 6%;
}
.more-info {
  color: #1c7a96;
}

.more-info:hover {
  text-decoration: underline;
}

.card-white-title {
  color: #e5e5e5;
}
footer {
  background-color: white;
  margin-left: 30% !important;
  margin-top: 10% !important;
  width: 600px;
}
@media screen and (max-width: 426px) {
  .root,
  .app {
    width: 100vw;
  }

  .card-vehicles {
    width: 100%;
  }
  .card-cars {
    width: 100%;
    margin-left: 20%;
  }
  .edit-car,
  .delete-car {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .card-vehicles {
    width: 30%;
    margin-left: 10%;
  }
  .edit-car,
  .delete-car {
    margin-left: -1%;
  }
  .edit-car {
    margin-right: 3%;
  }
}
