.logo {
  font-size: xx-large;
  color: #1c7a96;
  text-align: left;
  padding-left: 10%;
}
.welcome {
  position: absolute;
  font-size: 25px;
  color: #1c7a96;
  text-align: right;
  top: -1%;
  right: 2%;
}
.add-car {
  position: absolute;
  top: 5%;
  right: 45%;
  color: #1c7a96;
  font-size: 25px;
}

.my-cars {
  position: absolute;
  top: 5%;
  right: 55%;
  color: #1c7a96;
  font-size: 25px;
}

.ez,
a {
  text-decoration: none !important;
}

.login-register {
  position: absolute;
  text-align: right;
  margin-right: 10%;
  top: 3.5%;
  right: 2%;
  display: flex;
}
/* header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

/* .register-btn {
  position: absolute;
}
.login-btn {
  position: absolute;
} */
.login-btn,
.register-btn {
  margin-right: 25px;
  width: 120% !important;
  font-size: 120%;
  /* padding-left: 51%; */
  padding: 5%;
}
.logout-btn {
  position: absolute;
  top: 5%;
  right: 1%;
  margin-right: 25px;
  /* width: 120% !important; */
  font-size: 120%;
  /* padding-left: 51%; */
  /* padding: 5%; */
}
header {
  box-shadow: 0px 0px 5px 0px #1c7a96 !important;
  padding: 2px;
  height: 0%;
}

.types {
  display: none;
}

@media screen and (max-width: 426px) {
  .logo,
  .add-car,
  .my-cars {
    font-size: 50%;
  }
  .login-btn,
  .register-btn {
    font-size: 4%;
  }

  .login-register {
    position: absolute;
    text-align: right;
    top: -0.1%;
    right: 1%;
  }
  .welcome {
    font-size: 8px;
  }
  .logout-btn {
    font-size: 15% !important;
    top: 1.5%;
  }
  .add-car {
    top: 1.5%;
    right: 35%;
  }

  .my-cars {
    top: 1.5%;
    right: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .login-register {
  
    top: 2% !important;
    right: 1%;
  }
}
